<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Theme: Retrorama Champion Edition
Original author: Filipe Bello
License: creative commons CC-BY-NC-SA
-->
<theme>
  <formatVersion>7</formatVersion>

<view name="system">

	<image name="background" extra="true">
	<path>./UI/BG.png</path>
	<linearSmooth>true</linearSmooth>
	<maxSize>1 1</maxSize>
	<zIndex>1</zIndex>
	</image>


	<image name="char" extra="true">
		<path>./chars/default.png</path>
		<path>./chars/${system.theme}.png</path>
		<linearSmooth>true</linearSmooth>
		<pos>1 .961</pos>
		<maxSize>.7 .961</maxSize>
		<origin>1 1</origin>
		<zIndex>3</zIndex>
	</image>
		
	<image name="logo" if="{system.collection}">
		<path >./carousel/default.png</path>
		<path >./carousel/${system.theme}.png</path>
		<linearSmooth>true</linearSmooth>
	</image>
	
	<image name="logo">
		<path >./carousel/default.png</path>
		<path>./carousel/${system.theme}.png</path>
		<linearSmooth>true</linearSmooth>
    </image>



	<text name="releaseYear" extra="true">
		<text>${system.releaseYearOrNull}</text>
		<pos>.006 .106</pos>
		<size>.098 .099</size>
		<origin>0 1</origin>
		<alignment>left</alignment>
		<verticalAlignment>bottom</verticalAlignment>
		<lineSpacing>1</lineSpacing>
		<color>${fontColor}</color>
		<forceUppercase>true</forceUppercase>
		<fontPath>${font}</fontPath>
		<fontSize>0.065</fontSize>
		<zIndex>4</zIndex>
	</text>

	<text name="hardwareType" extra="true">
		<text>${system.hardwareType}</text>
		<pos>.253 .045</pos>
		<size>.251 h</size>
		<origin>0 1</origin>
		<alignment>left</alignment>
		<lineSpacing>1</lineSpacing>
		<color>${fontColor}</color>
		<forceUppercase>true</forceUppercase>
		<fontPath>${font}</fontPath>
		<fontSize>0.04</fontSize>
		<zIndex>4</zIndex>
	</text>
	
	<text name="manufacturer" extra="true">
		<text>${system.manufacturer}</text>
		<pos>.253 .106</pos>
		<size>.74 .07</size>
		<origin>0 1</origin>
		<alignment>left</alignment>
		<lineSpacing>1</lineSpacing>
		<color>${fontColor}</color>
		<forceUppercase>true</forceUppercase>
		<fontPath>${font}</fontPath>
		<fontSize>0.065</fontSize>
		<zIndex>4</zIndex>
	</text>
	
    <text name="fullName" extra="true">
		<text>${system.fullName}</text>
		<pos>.251 .39</pos>
		<size>.4 .088</size>
		<origin>0 1</origin>	
		<alignment>left</alignment>
		<verticalAlignment>bottom</verticalAlignment>
		<lineSpacing>1.15</lineSpacing>
		<color>${fontColor}</color>
		<forceUppercase>true</forceUppercase>
		<fontPath>${font}</fontPath>
		<fontSize>0.04</fontSize>
		<zIndex>4</zIndex>
	</text>
	
	<text name="systemInfo" visible="false"/>
	<text name="systemInfoEx" extra="true">
	<text>
Games : {binding:total}
Games played : {binding:gamesPlayed}
Most played : {binding:mostPlayed}
Last played : {binding:lastPlayedDate}
	</text>
		<pos>.251 .4</pos>
		<size>.26 .18</size>
		<verticalAlignment>top</verticalAlignment>
		<backgroundColor>00000000</backgroundColor>
		<color>${fontColor}</color>
		<fontPath>${font}</fontPath>
		<fontSize>0.027</fontSize>
		<lineSpacing>1.2</lineSpacing>
		<zIndex>4</zIndex>
    </text>
	

	
</view>



  

</theme>